.filter {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.filter:hover {
  box-shadow: 2px 6px 10px rgba(11, 11, 11, 0.2);
}
