.form {
  margin-bottom: 20px;
}

.form label {
  display: block;
  margin-bottom: 5px;
}

.form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form input:hover,
.form button:hover {
  box-shadow: 2px 6px 10px rgba(11, 11, 11, 0.2);
}

.form button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #171917;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #cf418a;
  box-shadow: 2px 6px 10px rgba(11, 11, 11, 0.2);
}
